* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 50px auto;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(18, 49, 139, 0.891281512605042) 0%, rgba(9, 127, 195, 0.7652310924369747) 48%, rgba(0, 212, 255, 1) 100%);
  border-radius: 10px;
  border: 1px solid rgb(6, 6, 60);
  width: 500px;
  height: 350px;
  padding: 10px;
}

.widget {
  display: flex;
  height: 150px;
  border-bottom: 1px solid black;
  justify-content: space-around;
}

.img {
  width: 100px;
  margin-left: 30px;
}

.temp {
  color: white;
  display: flex;
}

.temp-now {
  font-size: 48px;
  font-weight: bold;
}

.temp-day-night {
  margin-left: 30px;
}

.line {
  width: 80px;
  height: 2px;
  background-color: white;
  margin-top: 5px;
  border-radius: 2px;
}

.weather-on-day {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-left: 1px solid rgb(46, 7, 79);
  border-right: 1px solid white;
  width: 25%;
}

.days {
  display: flex;
  height: 180px;
}

.name-day {
  color: rgb(243, 121, 121);
  background-color: rgb(157, 157, 242);
  width: 100%;
  text-align: center;
}

.img-weather {
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.description {
  color: azure;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  margin-top: -15px;
  text-align: center;
}

.city {
  text-align: center;
  color: aqua;
  font-size: 24px;
  font-family: fantasy;
}

.intup-city {
  margin-top: 20px;
  border: none;
  outline: none;
  height: 20px;
  padding-left: 10px;
  color: rgb(23, 23, 174);
  letter-spacing: 2px;
  font-style: italic;
  min-width: 85%;
  border-radius: 2px;
}

.date {
  color: brown;
  letter-spacing: 1.5px;
  font-size: 12px;
  margin-top: 20px;
}

.icon-glass {
  color: aqua;
  cursor: pointer;
  margin-left: 5px;
}

.react-autosuggest__suggestions-container {
  background-color: white;
  cursor: pointer;
}

.react-autosuggest__container ul {
  list-style: none;
}